*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
	
}

.header{
    display: flex;
    justify-content:left ;
    align-items: center;
    padding: 15px 30px;
   background: #111111    ;
    color: gray;

}

.header i{
    font-size: 25px;
    cursor: pointer;
    transition: color 0.5s;
}

.header i:hover{
    color: #127b8e;
}

.header a{
	text-decoration: none;
}

.logo{
    font-size:28px;
	padding-left: 17px;
    color: whitesmoke;
	position: relative;
	
}

.logo b{
    color: #127b8e;
}

.user-photo{
    text-align: center;
    padding-left: 10px;
    padding-top: 25px;
}

.user-photo img{
    width: 100px;
    border-radius: 50%;
}

.user-photo h4{
    color: #ccc;
    padding: 5px 0;
}

.side-bar {
	width: 250px;
	background: #494f4d   ;
	color: #291e1e;
	min-height: 100vh;
	transition: 500ms width;
}
.body {
	display: flex;
}


.side-bar ul {
	margin-top: 20px;
	list-style: none;
}
.side-bar ul li {
	font-size: 16px;
	padding: 15px 0px;
	padding-left: 20px;
	transition: 500ms background;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
}
.side-bar ul li:hover {
	background: #2C5364;
}

.side-bar ul li a {
	text-decoration: none;
	color: #EAEAEA;
	cursor: pointer;
	letter-spacing: 1px;
}
.side-bar .active a {
	color: #0F2027 !important;
}
.side-bar .active a i {
	color: #0F2027 !important;
}
.side-bar ul .active:hover {
	background: transparent;
}
.side-bar ul li a i {
	display: inline-block;
	padding-right: 10px;
	font-size: 23px;
}

#navbtn{
    display: inline-flex;
    margin-left: 50px;
    font-size: 20px;
    transition: .5s;
	display: flex;
	margin-left:0px ;
}

#checkbox{
    display: none;
}

#checkbox:checked ~ .body .side-bar {
	width: 60px;
}
#checkbox:checked ~ .body .side-bar .user-photo{
	visibility: hidden;
}
#checkbox:checked ~ .body .side-bar a span{
	display: none;
}

#checkbox:checked ~ .body .side-bar .media_icons{
    display: none;
}

.login_body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login_body form{
    width: 500px;
    justify-content: center;
    align-items: center;
}

.login_main{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section-1{
    width: 100%;
    padding: 30px;
    background: #ffe;
}

.section-1 .title{
    margin-bottom: 10px;
}

.section-1 .title a{
    text-decoration: none;
    display: inline-block ;
    padding-left: 10px;
    border: none;
	background: #00CF22;
	padding: 10px 15px;
	color: #fff;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	transition: background 1s;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}

.section-1 .title span a{
    text-decoration: none;
    display: inline-block ;
    padding-left: 10px;
    border: none;
	background: #19485c;
	padding: 10px 15px;
	color: #fff;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	transition: background 1s;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
	margin-left: 10px;
}

.section-1 .title a:hover{
    opacity: 0.6;
}

.main-table ,.main-table tr,.main-table th,.main-table td{
    border: 1px solid #aaa;
    border-collapse: collapse;
    padding: 7px;
}

.main-table{
    width: 90%;
    margin-top: 30px;
}

.delete-btn{
    text-decoration: none;
	display: inline-block;
    padding-left: 10px;
	border: none;
	background: #E00051;
	padding: 10px 15px;
	color: #fff;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	transition: background 1s;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.delete-btn:hover,.edit-btn:hover{
    opacity: .6;
}

.edit-btn{
    text-decoration: none;
	display: inline-block;
    padding-left: 10px;
	border: none;
	background: #006CE0;
	padding: 10px 15px;
	color: #fff;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	transition: background 1s;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.form-1 {
	width: 90%;
	max-width: 500px;
}
.input-holder lable {
	display: block;
	margin-bottom: 5px;
}
.input-1 {
	border: 2px solid #ccc;
	width: 100%;
	padding: 10px;
	font-size: 15px;
	outline: none;
	border-radius: 5px;
	display: block;
}

.input-1:focus{
	border-color: #555;
}

.danger{
	background: #FF98AA;
	color: #B20008;
	padding: 10px;
	margin-bottom: 10px;
}

.success {
	background: #80CE91;
	color: #009D22;
	padding: 10px;
	margin-bottom: 10px;
}

.dashboard{
	display: flex;
	max-width: 650px;
	width: 95%;
	justify-content: space-between;
	flex-wrap: wrap;
}

.dashboard-item{
	text-align: center;
	background: #262931;
	width: 200px;
	padding: 30px 5px;
	margin-bottom: 40px;
}

.dashboard-item i{
	color: white;
	display: block;
	font-size: 30px;
	margin-bottom: 5px;
}

.dashboard-item span{
	color: white;
	display: block;
	
}
