*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 15px 30px;
   background: #23242b;
    color: gray;

}

.header i{
    font-size: 25px;
    cursor: pointer;
    transition: color 0.5s;
}

.header i:hover{
    color: #127b8e;
}

.logo{
    font-size:px;
	padding-left: 17px;
    color: whitesmoke;
}

.logo b{
    color: #127b8e;
}

.user-photo{
    text-align: center;
    padding-left: 10px;
    padding-top: 25px;
}

.user-photo img{
    width: 100px;
    border-radius: 50%;
}

.user-photo h4{
    color: #ccc;
    padding: 5px 0;
}

.side-bar{
    width: 250px;
    background: #1f1f2b;
    min-height: 100vh;
    transition: .5s;
}

.body{
    display: flex;
}

.section-1{
    width: 100%;
    background: url(bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-1 h1{
    color: white;
    font-size: 60px;
}

.section-1 p{
        color:#127b8e;
        font-size: 20px;
        font-weight:bold;
        background: white;
        padding: 7px;
        border-radius: 5px;
}

.side-bar ul{
    margin-top: 20px;
    list-style: none;
    padding: -10px;
}

.side-bar ul li{
    font-size: 20px;
    padding: 15px 0;
    padding-left: 20px;
    transition: .5s;
}

.side-bar ul li:hover{
    background: #127b8e;
    border-radius: 50%;
}

.side-bar ul li a{
    text-decoration: none;
    color: rgb(214, 205, 205);
    cursor: pointer;
    letter-spacing: 2px;
}

.side-bar ul li a i{
    display: inline-block;
    padding-right: 10px;
    font-size: 23px;
}

#navbtn{
    display: inline-block;
    margin-left: 70px;
    font-size: 20px;
    transition: .5s;
}

#checkbox{
    display: none;
}

#checkbox:checked ~ .body .side-bar {
	width: 60px;
}
#checkbox:checked ~ .body .side-bar .user-photo{
	visibility: hidden;
}
#checkbox:checked ~ .body .side-bar a span{
	display: none;
}

#checkbox:checked ~ .body .side-bar .media_icons{
    display: none;
}

#navbtn{
    display: flex;
    margin-left:0px ;
}